@import "../../mixins/mixins";
@import "../../variables/variables";

.form-composite-type--checkboxes {
  .fieldset-wrapper {
    @include makeBox();
    .form-type-checkbox {
      box-shadow: none;
      padding: 0;
    }
  }
}

.form-type-checkbox {
  @include makeBox();
  position: relative;
  width: 100%;
  input {
    display: none;
  }
  .bi {
    position: absolute;
  }
  label {
    padding-left: pxToRem(48);
    position: relative;
    &:hover {
      cursor: pointer;
    }
  }
}