@import "../../mixins/mixins";
@import "../../variables/variables";


.form-composite-type--radios {
  .fieldset-wrapper {
    @include makeBox();
  }
}

.form-type-radio {
  padding: 0;
  position: relative;
  width: 100%;
  
  input {
    display: none;
  }
  .bi {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  label {
    padding-left: pxToRem(48);
    position: relative;
    &:hover {
      cursor: pointer;
    }
  }
}