details.form-wrapper summary {
  font-size: 1rem;
  font-weight: 700;
  position: relative;
}
details.form-wrapper summary::marker {
  content: none;
  display: none;
}
details.form-wrapper summary .bi {
  position: absolute;
  right: 0;
}
