.form-composite-type--radios .fieldset-wrapper {
  background-color: #F2F2F2;
  border-radius: 0.75rem;
  box-shadow: 4px 4px 16px 0px rgba(1, 28, 64, 0.2);
  font-weight: 400;
  margin-bottom: 0.5rem;
  padding: 0.75rem;
}

.form-type-radio {
  padding: 0;
  position: relative;
  width: 100%;
}
.form-type-radio input {
  display: none;
}
.form-type-radio .bi {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.form-type-radio label {
  padding-left: 2rem;
  position: relative;
}
.form-type-radio label:hover {
  cursor: pointer;
}
