.form-type-radio {
  padding: 1rem 0;
  position: relative;
  width: 100%;
}
.form-type-radio input {
  display: none;
}
.form-type-radio .bi {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.form-type-radio label {
  padding-left: 3rem;
  position: relative;
}
.form-type-radio label:hover {
  cursor: pointer;
}
