@import "../../mixins/mixins";
@import "../../variables/variables";

.view-pokemons {
  .view-filters {
    .views-exposed-form {
      .form-type-textfield {
        width: 100%;
        input {
          padding: pxToRem(24);
        }
      }
      .form-type-details {
        .bef--secondary {
          summary {
            padding: pxToRem(24);
          }
          .details-wrapper {
            display: grid;
            @include media-breakpoint-up(md) {
              align-items: center;
              gap: pxToRem(32);
              grid-template-areas: 
                'height weight mythical legendary'
                'type type type type'
              ;
              .form-item-mythical {
                grid-area: mythical;
              }
              .form-item-legendary {
                grid-area: legendary;
              }
              .form-wrapper[data-drupal-selector="edit-height-wrapper"] {
                grid-area: height;
              }
              .form-wrapper[data-drupal-selector="edit-weight-wrapper"] {
                grid-area: weight;
              }
              .form-wrapper[data-drupal-selector="edit-type"] {
                grid-area: type;
              }
            }
            .form-item {
              &.form-composite {
                .form-radios,
                .form-checkboxes {
                  @include media-breakpoint-up(lg) {
                    display: flex;
                    max-width: 100%;
                    flex-wrap: wrap;
                  }
                  .form-item {
                    @include media-breakpoint-up(lg) {
                      flex: 0 1 25%;
                      margin-right: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
