@import "../../mixins/mixins";
@import "../../variables/variables";

.node--type-pokemon {
  &.bug {
    --pokemon-color: var(--pokemon-bug);
  }
  &.dark {
    --pokemon-color: var(--pokemon-dark);
  } 
  &.dragon {
    --pokemon-color: var(--pokemon-dragon);
  } 
  &.electric {
    --pokemon-color: var(--pokemon-electric);
  } 
  &.fairy {
    --pokemon-color: var(--pokemon-fairy);
  } 
  &.fighting {
    --pokemon-color: var(--pokemon-fighting);
  } 
  &.fire {
    --pokemon-color: var(--pokemon-fire);
  } 
  &.flying {
    --pokemon-color: var(--pokemon-flying);
  } 
  &.ghost {
    --pokemon-color: var(--pokemon-ghost);
  } 
  &.grass {
    --pokemon-color: var(--pokemon-grass);
  } 
  &.ground {
    --pokemon-color: var(--pokemon-ground);
  } 
  &.ice {
    --pokemon-color: var(--pokemon-ice);
  } 
  &.normal {
    --pokemon-color: var(--pokemon-normal);
  } 
  &.poison {
    --pokemon-color: var(--pokemon-poison);
  } 
  &.psychic {
    --pokemon-color: var(--pokemon-psychic);
  } 
  &.rock {
    --pokemon-color: var(--pokemon-rock);
  } 
  &.steel {
    --pokemon-color: var(--pokemon-steel);
  }
  &.shadow {
    --pokemon-color: var(--pokemon-shadow);
  }
  &.water {
    --pokemon-color: var(--pokemon-water);
  }
  &.node--view-mode-teaser {
    a {
      background-color: $light;
      border-radius: 12px;
      display: block;
      padding-bottom: pxToRem(24);
      text-align: center;
      &:hover {
        box-shadow: 4px 4px 16px 0px rgba(1, 28, 64, 0.20);
        text-decoration: none;
      }
      .pokemon--image {
        margin-bottom: pxToRem(16);
        max-height: pxToRem(200);
        max-width: 100%;
      }
      .node__title {
        color: $black;
        font-size: pxToRem(18);
        text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.10);
      }
    }
  }
  &.node--view-mode-full {
    @include makeBox();
    background-color: var(--pokemon-color);
    margin: 0 auto;
    max-width: 600px;
    header {
      background-image: url(../../../assets/images/pokeball.svg);
      background-position: right top;
      background-repeat: no-repeat;
      color: #FFFFFF;
      text-align: center;
      h1 {
        font-size: pxToRem(52);
        color: #FFFFFF;
        text-shadow: 3px 2px 0px rgba(0,0,0,0.51);
        @include media-breakpoint-up(md) {
          font-size: pxToRem(72);
        }
      }
      .field--name-field-pokeapi-id {
        color: white;
        font-size: pxToRem(16);
        font-weight: bold;
      }
      .pokemon--image {
        margin-bottom: -80px;
        max-width: 400px;
        width: 100%;
      }
    }
    .node__content {
      @include makeBox();
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 120px;
      .field {
        flex: 0 1 100%;
        margin-bottom: pxToRem(16);
        max-width: 100%;
        &--name-field-pokemon-abilities,
        &--name-field-pokemon-height,
        &--name-field-pokemon-weight {
          align-items: center;
          border-bottom: 1px solid #e1e1e1;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          padding-bottom: 8px;
          text-align: center;
          @include media-breakpoint-up(sm) {
            border-bottom: none;
            border-right: 1px solid #e1e1e1;
            flex: 0 1 33.33%;
            max-width: 33.33%;
          }
          .field__icon {
            margin-right: pxToRem(8);
            img {
              height: 32px;
              width: 32px;
            }
          }
          .field__label {
            flex: 0 1 100%;
            font-size: pxToRem(16);
            font-weight: 300;
            max-width: 100%;
            order: 2;
            &::after {
              content: none;
            }
          }
          .field__item {
            font-size: pxToRem(24);
          }
        }
        &--name-field-pokemon-abilities {
          border-right: none;
          .field__item {
            font-size: pxToRem(16);
            @include media-breakpoint-up(sm) {
              font-size: pxToRem(24);
            }
          }
        }
      }
    }
  }
  .field {
    &.field--name {
      &-field-pokeapi-id {
        color: $gray;
        font-size: pxToRem(12);
      }
      &-field-pokemon-types {
        .field__items {
          display: flex;
          justify-content: center;
        }
        .field__item {
          display: inline-block;
          margin: 0 pxToRem(4);
        }
      }
      &-field-pokemon-stats {
        color: var(--pokemon-color);
        .field {
          margin: 0;
        }
        .field__label {
          font-size: pxToRem(32);
          font-weight: 900;
          margin-bottom: 8px;
          text-align: center;
        }
        .paragraph--type--pokemon-stats {
          display: grid;
          grid-template-columns: 1fr 2fr;
          margin: 0;
          padding: 0;
          @include media-breakpoint-up(sm) {
            grid-template-columns: 1fr 3fr;
          }
        }
      }
    }
  }
}