@import "../../mixins/mixins";
@import "../../variables/variables";

.node--type-pokemon {
  &.bug {
    --pokemon-color: var(--pokemon-bug);
  }
  &.dark {
    --pokemon-color: var(--pokemon-dark);
  } 
  &.dragon {
    --pokemon-color: var(--pokemon-dragon);
  } 
  &.electric {
    --pokemon-color: var(--pokemon-electric);
  } 
  &.fairy {
    --pokemon-color: var(--pokemon-fairy);
  } 
  &.fighting {
    --pokemon-color: var(--pokemon-fighting);
  } 
  &.fire {
    --pokemon-color: var(--pokemon-fire);
  } 
  &.flying {
    --pokemon-color: var(--pokemon-flying);
  } 
  &.ghost {
    --pokemon-color: var(--pokemon-ghost);
  } 
  &.grass {
    --pokemon-color: var(--pokemon-grass);
  } 
  &.ground {
    --pokemon-color: var(--pokemon-ground);
  } 
  &.ice {
    --pokemon-color: var(--pokemon-ice);
  } 
  &.normal {
    --pokemon-color: var(--pokemon-normal);
  } 
  &.poison {
    --pokemon-color: var(--pokemon-poison);
  } 
  &.psychic {
    --pokemon-color: var(--pokemon-psychic);
  } 
  &.rock {
    --pokemon-color: var(--pokemon-rock);
  } 
  &.steel {
    --pokemon-color: var(--pokemon-steel);
  }
  &.shadow {
    --pokemon-color: var(--pokemon-shadow);
  }
  &.water {
    --pokemon-color: var(--pokemon-water);
  }
  &.node--view-mode-teaser {
    a {
      background-color: $light;
      border-radius: 12px;
      display: block;
      padding-bottom: pxToRem(24);
      text-align: center;
      &:hover {
        box-shadow: 4px 4px 16px 0px rgba(1, 28, 64, 0.20);
        text-decoration: none;
      }
      .pokemon--image {
        margin-bottom: pxToRem(16);
        max-height: pxToRem(200);
        max-width: 100%;
      }
      .node__title {
        color: $black;
        font-size: pxToRem(18);
        text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.10);
      }
      .field--name {
        &-field-pokeapi-id {
          color: $gray;
          font-size: 12px;
        }
        &-field-pokemon-types {
          .field__item {
            display: inline-block;
            margin: 0 pxToRem(4);
          }
        }
      }
    }
  }

  &.node--view-mode-full {
    @include makeBox();
    background-color: var(--pokemon-color);
    margin: 0 auto;
    max-width: 600px;
    header {
      background-image: url(../../../assets/images/pokeball.svg);
      background-position: right top;
      background-repeat: no-repeat;
      color: #FFFFFF;
      text-align: center;
      h1 {
        color: #FFFFFF;
        text-shadow: 3px 2px 0px rgba(0,0,0,0.51);
      }
      .field--name-field-pokeapi-id {
        font-weight: bold;
      }
      .pokemon--image {
        margin-bottom: -80px;
        max-width: 400px;
      }
    }
    .node__content {
      @include makeBox();
      background-color: white;
      padding-top: 120px;
      .field--name-field-pokemon-stat {
        color: var(--pokemon-color);
      }
    }
  }
}