.page-404--wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
}
.page-404--wrapper .page-404--heading {
  position: relative;
}
.page-404--wrapper .page-404--heading img {
  max-width: 100%;
  position: relative;
  z-index: 20;
}
@media (min-width: 768px) {
  .page-404--wrapper .page-404--heading img {
    max-width: 550px;
  }
}
.page-404--wrapper .page-404--heading h1 {
  font-size: 10rem;
  left: 50%;
  margin: 0;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}
@media (min-width: 768px) {
  .page-404--wrapper .page-404--heading h1 {
    font-size: 30rem;
  }
}
.page-404--wrapper .page-404--text {
  font-size: 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .page-404--wrapper .page-404--text {
    margin-top: 2rem;
  }
}
.page-404--wrapper .page-404--text h2 {
  font-size: 2rem;
}
.page-404--wrapper .page-404--text h2:first-child {
  color: var(--bs-white);
}
.page-404--wrapper .page-404--text a {
  font-size: 2rem;
  margin-top: 1rem;
}
