@import "../mixins/mixins";
@import "../variables/variables";

.form-item {
  label {
    font-size: pxToRem(16);
    font-weight: 700;
    margin-bottom: pxToRem(8);
  }
  input:not([type=checkbox]):not([type=radio]),
  select,
  textarea {
    background: $light;
    border-radius: pxToRem(12);
    border: none;
    box-shadow: 4px 4px 16px 0px rgba(1, 28, 64, 0.20);
    color: $black;
    font-size: pxToRem(16);
    height: 100%;
    margin-bottom: pxToRem(8);
    padding: pxToRem(12) pxToRem(12);
    width: 100%;
  }
  input[type=radio] {
    height: auto;
    width: auto;
  }
  .description {
    font-size: pxToRem(16);
  }

  &.form-composite-type--radios {
    legend {
      background-color: $light;
      border-radius: pxToRem(12);
      box-shadow: 4px 4px 16px 0px rgba(1, 28, 64, 0.20);
      font-weight: 400;
      margin-bottom: pxToRem(8);
      padding: pxToRem(12) pxToRem(12);
      .bi {
        float: right;
      }
    }
    .fieldset-wrapper {
      position: relative;
      width: 100%;
      &.active {
        > .form-radios {
          display: block;
        }
      }
      > .form-radios {
        display: none;
        padding: 0;
        position: absolute;
        z-index: 1;
      }
    }
  }
}