@import "../mixins/mixins";
@import "../variables/variables";

.form-item {
  label,
  legend {
    font-size: pxToRem(16);
    font-weight: 700;
    margin-bottom: pxToRem(8);
  }
  input:not([type=checkbox]):not([type=radio]),
  select,
  textarea {
    @include makeBox();
    border: none;
    color: $black;
    font-size: pxToRem(16);
    height: 100%;
    width: 100%;
  }
  input[type=radio],
  input[type=checkbox] {
    height: auto;
    width: auto;
  }
  .description {
    font-size: pxToRem(16);
  }
}

.progress--wrapper {
  align-items: center;
  column-gap: pxToRem(16);
  display: flex;
  .progress--value {
    color: $gray;
  }
  progress.progress--bar {
    border-radius: 7px; 
    width: 80%;
    height: 8px;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
    &::-webkit-progress-bar {
      background-color: $light;
      border-radius: 7px;
    }
    &::-webkit-progress-value {
      background-color: $primary;
      border-radius: 7px;
    }
  }  
}

.bug {
  progress.progress--bar {
    &::-webkit-progress-value {
      background-color: var(--pokemon-bug);
    }
  }
}
.dark {
  progress.progress--bar {
    &::-webkit-progress-value {
      background-color: var(--pokemon-dark);
    }
  }
} 
.dragon {
  progress.progress--bar {
    &::-webkit-progress-value {
      background-color: var(--pokemon-dragon);
    }
  }
} 
.electric {
  progress.progress--bar {
    &::-webkit-progress-value {
      background-color: var(--pokemon-electric);
    }
  }
} 
.fairy {
  progress.progress--bar {
    &::-webkit-progress-value {
      background-color: var(--pokemon-fairy);
    }
  }
} 
.fighting {
  progress.progress--bar {
    &::-webkit-progress-value {
      background-color: var(--pokemon-fighting);
    }
  }
} 
.fire {
  progress.progress--bar {
    &::-webkit-progress-value {
      background-color: var(--pokemon-fire);
    }
  }
} 
.flying {
  progress.progress--bar {
    &::-webkit-progress-value {
      background-color: var(--pokemon-flying);
    }
  }
} 
.ghost {
  progress.progress--bar {
    &::-webkit-progress-value {
      background-color: var(--pokemon-ghost);
    }
  }
} 
.grass {
  progress.progress--bar {
    &::-webkit-progress-value {
      background-color: var(--pokemon-grass);
    }
  }
} 
.ground {
  progress.progress--bar {
    &::-webkit-progress-value {
      background-color: var(--pokemon-ground);
    }
  }
} 
.ice {
  progress.progress--bar {
    &::-webkit-progress-value {
      background-color: var(--pokemon-ice);
    }
  }
} 
.normal {
  progress.progress--bar {
    &::-webkit-progress-value {
      background-color: var(--pokemon-normal);
    }
  }
} 
.poison {
  progress.progress--bar {
    &::-webkit-progress-value {
      background-color: var(--pokemon-poison);
    }
  }
} 
.psychic {
  progress.progress--bar {
    &::-webkit-progress-value {
      background-color: var(--pokemon-psychic);
    }
  }
} 
.rock {
  progress.progress--bar {
    &::-webkit-progress-value {
      background-color: var(--pokemon-rock);
    }
  }
} 
.steel {
  progress.progress--bar {
    &::-webkit-progress-value {
      background-color: var(--pokemon-steel);
    }
  }
}
.shadow {
  progress.progress--bar {
    &::-webkit-progress-value {
      background-color: var(--pokemon-shadow);
    }
  }
}
.water {
  progress.progress--bar {
    &::-webkit-progress-value {
      background-color: var(--pokemon-water);
    }
  }
}
