@import "../mixins/mixins";
@import "../variables/variables";

.form-item {
  label {
    font-size: pxToRem(16);
    font-weight: 700;
    margin-bottom: pxToRem(8);
  }
  input:not([type=checkbox]):not([type=radio]),
  select,
  textarea {
    @include makeBox();
    border: none;
    color: $black;
    font-size: pxToRem(16);
    height: 100%;
    width: 100%;
  }
  input[type=radio],
  input[type=checkbox] {
    height: auto;
    width: auto;
  }
  .description {
    font-size: pxToRem(16);
  }

  &.form-wrapper {
    @include makeBox();
    .fieldset-wrapper {
      position: relative;
      width: 100%;
    }
  }
}

details.form-wrapper {
  @include makeBox();
  border: none;
  .form-wrapper,
  .form-item {
    box-shadow: none;
    padding: 0;
  }
}